<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_02_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,442},{56,48}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,66},{56,48}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,182},{66,50}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,64},{66,50}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,128},{68,48}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,66},{68,48}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,74},{70,48}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,66},{70,48}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{88,64}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,50},{88,64}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,306},{62,64}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,50},{62,64}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,238},{62,64}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,50},{62,64}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,174},{62,42}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,72},{62,42}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_die_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,442},{56,48}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,66},{56,48}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_die_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,124},{44,36}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,75},{44,36}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_die_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,74},{44,36}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,75},{44,36}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_die_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,338},{42,34}}</string>
                <key>offset</key>
                <string>{-15,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,77},{42,34}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_die_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,504},{42,30}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,89},{42,30}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_die_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,242},{46,26}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,93},{46,26}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_die_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,4},{40,22}}</string>
                <key>offset</key>
                <string>{-15,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,95},{40,22}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,442},{56,48}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,66},{56,48}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,484},{58,48}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,66},{58,48}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,430},{58,48}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,66},{58,48}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,374},{58,50}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,64},{58,50}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,378},{58,48}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,66},{58,48}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>role_02_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,274},{58,44}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,70},{58,44}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role02.pvr.ccz</string>
            <key>size</key>
            <string>{124,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c5910815b283e954f017a197e5ff465:7e0a50acfbd31e55c440bf7ec4ee5e18:58f5c53917c88cfdc9ca2a86b7ed7ea5$</string>
            <key>textureFileName</key>
            <string>role02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
