<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,66},{83,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{83,56}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>role_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,368},{83,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,54}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>role_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{83,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{83,56}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>role_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,308},{83,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,54}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>role_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,248},{83,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,54}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>role_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,188},{83,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,54}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>role_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,428},{81,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{81,56}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>role_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,128},{83,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,54}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role01.pvr.ccz</string>
            <key>size</key>
            <string>{91,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a24f025e2837a7aa639fe519d6b2572:311efe8aec6949f9c8330b0c02cedb39:8ce0d40815e1fcaf3a50d70bcf9d1cce$</string>
            <key>textureFileName</key>
            <string>role01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
